*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

:root{
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #000000;

  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  /* overflow: hidden; */
}




/*      NAVBAR SECTION      */
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 33px 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
}
header.sticky{
  height: 12%;
  z-index: 1000; 
  padding: 27px 11%;
  background: #fff;
  box-shadow: 3px 0 5px #999999;
  /* backdrop-filter: blur(35px); */
  /* box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1); */
}
header.sticky .navbar a {
  color: #000;
}
header.sticky img {
 content: url(image/logo_black.png);
}
.logo img {
  width: 80px; 
  height: auto; 
}
span{
  color: #fff;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.navbar a {
  position: relative; 
  margin: 15px 22px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none;
}
.navbar a.active {
  color: #fff;
}
.navbar a:hover {
  color: #fff;
}
.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.4s ease;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.navbar a:hover::after {
  width: 100%; 
}




/*    BACKGROUND VIDEO     */
.hero{
  height: 68vh;
  width: 94%;
  margin-top: 3vh;
  margin-left: 5vh;
  background-size: cover;
  background-position: center; 
  position: relative;
  /* background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(bg\ home.png);
  border-radius: 0 0 60px 60px;
  box-shadow: 3px 0 20px #000; */
}
.hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 3px 0 10px #000;
  object-fit: cover;
}




/*       HEAD SECTION      */
/* .content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -200%);
  text-align: center;
}
.content h1 {
  font-size: 67px;
  color: #fff;
  text-shadow: 2px 2px 10px #555;
  font-weight: 650;
  text-transform: uppercase;
  letter-spacing: 25px;
  white-space: nowrap;
  margin: 0;
}
@media (max-width: 768px) {
  .content h1 {
    font-size: 50px; 
    letter-spacing: 15px; 
  }
}
@media (max-width: 480px) {
  .content h1 {
    font-size: 30px;
    letter-spacing: 10px; 
  }
} */











/*       HEAD SECTION      */
.home2{
  width: 100%;
  height: 90%;
  top: 61vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.home2 .content{
  text-align: center;
  padding-bottom: 180px;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -200%);
  text-align: center;
}
.home2 .content h2{
  font-size: 3em;
  font-weight: 600;
  margin: 0 0 1px;;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.home2 .content h1{
  color: white;
  font-size: 90px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: none;
}
.changecontent::after{
  content: ' ';
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  animation: changetext 10s infinite linear;
}
@keyframes changetext{
  0%{content: "Bali";}
  10%{content: "Sulawesi";}
  20%{content: "Jawa";}
  30%{content: "Papua";}
  40%{content: "Sumatera";}
  60%{content: "NTT";}
  70%{content: "Maluku";}
  80%{content: "Aceh";}
  90%{content: "NTB";}
  /* 95%{content: "Kalimantan";} */
  100%{content: "Gorontalo ";}
} 
.home2 .content p{
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}
.home2 .content a{
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 5px;
  font-weight: 550;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}
.home2 .content a:hover{
  background: #ffa500;
  color: white;
}
@media (max-width:850px){
  .home{
      background-position: 50%;
  }
}
@media (max-width:450px){
  .home2 .content h2{
      font-size: 25px;
  }
  .home2 .content h1{
      font-size: 38px;
  }
  .home2 .content p{
      font-size: 13px;
  }
}
/* @media (max-width: 768px) {
  .home2  h1 h2 p {
    font-size: 50px; 
    letter-spacing: 15px; 
  }
}
@media (max-width: 480px) {
  .home2  h1 h2 p {
    font-size: 30px;
    letter-spacing: 10px; 
  }
}  */








/*        HOME SECTION         */
.hidden {
  display: none;
}
.explore-more {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}
.header h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 5px;
}
.header p {
  margin: 10px 0;
  color: #7a7a7a;
  font-size: 16px;
}
.sub-text {
  font-size: 1em;
}
.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}
.filter-btn {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.filter-btn.active {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.filter-btn:hover{
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
.filter-btn.active:hover{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 48px;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 270px;
  text-align: left;
  color: #333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-content {
  padding: 15px;
  position: relative;
}
.rating-badge {
  /* background-color: rgb(250, 217, 67); */
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.9em;
}
.rating-badge span {
  color: #000000 !important; 
}
.rating-badge i {
  color: rgb(250, 217, 67);
}
.location {
  display: flex;
  align-items: center;
  color: #7a7a7a;
  margin: 10px 0;
  font-size: 0.9em;
}
.location-icon {
  margin-right: 5px;
  color: #5fa1df;
}

/* Button  */
button{
  background: #191919;
  padding: 12px 20px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px;
  letter-spacing: 2px;
}
button:hover{
  background: #fbfbfbb7;
  border: 2px solid #fbfbfbb3;
  /* transform: scale(0.9); */
  transition: .4s;
  cursor: pointer;
  font-weight: 900;
  color: #000;
}
.details-btn {
  background-color: #2b2b3a;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
}
.details-btn:hover {
  background-color: transparent;
  border-color: #000;
}

/* Button show more */
.show-more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.show-more button {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.show-more button:hover {
  transform: scale(1.0);
  background: #000;
  color: #fff;
}






/*      WISATA TERKENAL      */
.container-2 {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 70px;
}
.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-2 h1 {
  font-size: 24px;
  margin: 0;
}
.cards-2 {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.card-2 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 270px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  position: relative;
}
.card-2 img {
  width: 100%;
  height: auto;
}
.card-content-2 {
  padding: 15px;
}
.card-content-2 h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 5px;
}
.card-content-2 p {
  font-size: 13px;
  color: #666;
  margin: 0 0 10px;
}
.card-content-2 .description {
  margin: 0 0 15px;
  color: #999;
}
.rating-badge2 {
  background-color: rgb(252, 247, 225) ;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.9em;
}
.rating-badge2 span {
  color: #000 !important; 
}
.rating-badge2 i {
  color: rgb(252, 206, 0);
}




/*     PANDUAN SECTION      */
.services {
  padding: 50px 0;
  margin-left: 80px;
  margin-right: 90px;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #000;
  position: relative;
}
.services .heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}
.services .heading p {
color: #000;
margin-top: 14px;
margin-bottom: 30px;
font-size: 17px;
}
.services .card-content {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.services .row {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: left;
  margin: 10px;
}
.services .row i {
  font-size: 3rem;
  color: #5b5b5b;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}
.services .card-body {
  text-align: center;
}
.services .card-body h3 {
  font-size: 19px;
  margin-bottom: 15px;
  color: #5b5b5b;
}
.services .card-body p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #5b5b5b;
}
.services .card-body4 h3 {
  font-size: 19px;
  margin-bottom: 15px;
  color: #5b5b5b;
  text-align: center;
}
.services .card-body4 p {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #5b5b5b;
}




/*      ABOUT SECTION       */
.About{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
  margin-bottom: 30px;  
  }
.About-img img{
  width: 120%;
  height: 40vh;
  border-radius: 10px;
}
.About-text h5{
  font-size: 22px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
.About-text h2{
  font-size: var(--h2-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
  color: #000;
}
.About-text p{
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #000;
  margin-bottom: 35px;
}
section{
  padding: 70px 17% 60px;
}





/*        FOOTER SECTION       */
.Footer {
  display: grid;
  gap: 2rem;
  margin-top: 70px;
  border-radius: 60px 60px 0 0;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  /* box-shadow: 0 3px 10px #000; */
}
.footer-box{
  display: flex;
  flex-direction: column;
  padding: 10px; 
}
.footer-box h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}
.footer-box a{
  color: #000;
  margin-bottom: 0.8rem;
  transition: all .50s ease;
}
.footer-box a:hover{
  transform: translateX(-5px);
  color: #777;
}
.social a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: #202020;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 50%;
  margin-right: 8px;
  transition: transform 0.6s;
}
.social a:hover{
  background: var(--main-color);
  color: #000;
  transform: translateX(-4px);
}
section{
  padding: 70px 17% 60px;
}
/* .copyright p{
  text-align: center;
  padding: 20px;
  color: #000;
  font-size: 15px;
} */


